@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ty-outline {
    @apply font-medium text-[8.19px] leading-[100%];
  }
  .ty-subtext {
    @apply font-medium text-[10.24px] leading-[100%];
  }
  .ty-subtitle {
    @apply font-normal text-[12.80px] leading-[100%];
  }
  .ty-descriptions {
    @apply font-normal text-[14px] leading-[100%];
  }
  .ty-title {
    @apply text-[14px] font-semibold leading-[100%];
  }
  .ty-subheading {
    @apply text-[20px] font-normal leading-[100%];
  }
  .ty-h6 {
    @apply text-[20px] font-semibold leading-[100%];
  }
  .ty-h5 {
    @apply text-[25px] font-semibold leading-[100%];
  }
  .ty-h4 {
    @apply text-[31.25px] font-semibold leading-[100%];
  }
  .ty-h3 {
    @apply text-[39.06px] font-semibold leading-[100%];
  }
  .ty-h2 {
    @apply text-[48.83px] font-semibold leading-[100%];
  }
  .ty-h1 {
    @apply text-[61.04px] font-semibold leading-[100%];
  }
  .ty-display {
    @apply text-[96px] font-normal leading-[100%];
  }
}

@layer base {
  .body-background {
    background: radial-gradient(
        70.71% 70.71% at 50% 50%,
        #6c0009 0%,
        #2a0222 100%
      ),
      linear-gradient(0deg, #000 0%, #000 100%);
  }

  .bg-alert {
    background: linear-gradient(
      180deg,
      rgba(255, 230, 143, 0.16) 0%,
      rgba(255, 210, 50, 0.16) 100%
    );
  }

  .alert-text {
    background: linear-gradient(180deg, #ffe68f 0%, #ffd232 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h1 {
    line-height: 100%;
  }

  .bg-connect-wallet {
    background: linear-gradient(180deg, #ffe68f 0%, #ffd232 100%);
  }

  .bg-og {
    background: radial-gradient(
        163.05% 156.97% at 50% -56.96%,
        #6c0009 0%,
        #2a0222 100%
      ),
      linear-gradient(0deg, #000 0%, #000 100%);
  }

  .bg-game-rules {
    border-radius: 24px;
    border: 1px solid var(--white-16, rgba(255, 255, 255, 0.16));
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      radial-gradient(70.71% 70.71% at 50% 50%, #6c0009 0%, #2a0222 100%);
  }
}

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #060;
  color: transparent;
}
.inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #bbb;
  color: transparent;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}
